<!doctype html>
<html lang="pt-br">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    
    <section id="material">
    
    <div class="container">
      
      <header class="section-header">
        <h3>Nosso material</h3>
        <p>Acreditamos que a partir da disseminação do conhecimento para todos possamos democratizar o ensino de Ciências de dados. Portanto, oferecemos de forma aberta todo o conteúdo trabalhado nos nossos cursos.</p>
      </header>
      
    </div>
    
    <div class="container-fluid">
      
    <header class="section-header">
      <h3 style = "font-size: 24px">Tutoriais</h3>
      <p style = "margin-block-end: 5px;">Tutoriais dos principais pacotes utilizados para Ciência de Dados.</p>
    </header>
    
     {{ partial "hex-material.html" . }}
     
    </div>
     
    <div class="container">
      
     <header class="section-header">
      <h3 style = "font-size: 24px">Material dos cursos</h3>
      <p style = "margin-block-end: 5px;">Confira os slides e scripts utilizados em nossos cursos.</p>
      
      {{ partial "material-cursos.html" . }}
      
    </header>
    
    </div>
    
    <div class="container">
      
     <header class="section-header">
      <h3 style = "font-size: 24px">Material extra</h3>
      <p style = "margin-block-end: 5px;">Confira alguns materias extras produzidos pela Curso-R.</p>
      
      {{ partial "material-extra.html" . }}
      
    </header>
    
    </div>
      
    </section>
    
    {{ partial "duvidas.html" . }}
    
    {{ partial "professores.html" . }}
    
    {{ partial "newsletter.html" . }}
    
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" .}}
  
  </body>
</html>