body {
  font-family: "Source Sans Pro";
}

.tags {
  padding: 10px;
  margin: auto;
  text-align: center;
}

.container {
  padding: 30px 15px 15px 15px !important;
}

#sobre .container {
  padding: 30px 90px 15px 90px !important;
}

#intro .intro-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

div.intro-header:after {
  content: '';
  background-color: rgba(0,0,0, 0.75);
  background-size: cover;
  height: 100%;
  background-position: center;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-content {
  z-index: 3;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#header-title h3 {
  color: #111c;
}

#navbarNav a {
  color: white;
}

#thenav a {
  color: white;
}

#thenav a:hover {
  color: #da4d4d;
}

#titulo-curso {
  font-size: 56px;
}

@media (max-width: 768px) {
#titulo-curso {
  font-size: 22px;
}
}

blockquote {
  margin: 0 0 20px;
  padding: 0 20px;
  border-left: 2px solid rgb(227, 119, 61);
  color: rgb(153, 143, 143);
  padding-left: 16px;
}

/** CSS DA LISTA DE POSTS **/

#post-list {
  padding-top: 15px;
  font-family: "Source Sans Pro";
}

#post-list > .row {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

#paginator ul {
  background-color: white;
}

/*** CSS DA HOMEPAGE   ***/
#footer {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a9a9a9;
}

#social-media {
  color: grey;
}

/*** CSS DO MATERIAL ***/

.col-sm-2-material {
  flex: none;
  width: 200px;
}

@media (min-width: 700px) {
  #material-container {
  background-color: white;
  font-family: "Source Sans Pro";
  width: 730px;
  margin: auto;
  flex: none;
 }
}

@media (max-width: 699px) {
  #material-container {
  background-color: white;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Source Sans Pro";
  margin: auto;
  flex: none;
 }
}

#material-container h1 {
  font-size: 26px;
  color: #111c !important;
  margin-top: 40px;
}

#material-container h2 {
  font-size: 23px;
  color: #111c !important;
  margin-top: 40px;
}

#material-container h3 {
  font-size: 20px;
  color: #111c !important;
  margin-top: 40px;
}

#material-container h4 {
  font-size: 17px;
  color: #111c !important;
  margin-top: 40px;
}

#material-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#material-container p {
  font-size: 17px;
}

.sticky-top {
  top: 20px;
}

.hex-material img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}

.hex-material hr {
  margin: none;
}

/*** CSS DO ARTIGO ***/

#article-container {
  background-color: #fff;
  max-width: none;
}

#article-title {
  color: white;
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: "Source Sans Pro";
}

@media (min-width: 700px) {
  #article {
  background-color: white;
  padding-top: 15px;
  font-family: "Source Sans Pro";
  width: 650px;
  margin: auto;
 }
}

@media (max-width: 699px) {
  #article {
  background-color: white;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Source Sans Pro";
  margin: auto;
 }
}

#article {
  font-size: 17px;
  min-width: 200px;
}

#article h1 {
  font-size: 26px;
  color: #111c !important;
  margin-top: 40px;
}

#article h2 {
  font-size: 23px;
  color: #111c !important;
  margin-top: 40px;
}

#article h3 {
  font-size: 20px;
  color: #111c !important;
  margin-top: 40px;
}

#article h4 {
  font-size: 17px;
  color: #111c !important;
  margin-top: 40px;
}

#article pre {
  padding-left: 0px;
  padding-right: 0px;
}

#article pre > code {
  padding-left: 30px;
  padding-right: 30px;
}

#author-date {
  font-size: 14px;
  text-transform: uppercase;
}

/******** CSS da pagina dos cursos *******/

#infos-praticas p {
  font-size: 16px
}

#infos-praticas i {
  color: #da4d4d; 
  margin-right: 6px;
}

@media (min-width: 700px) {
  #cursos-single {
  width: 730px;
  background-color: white;
  font-family: "Source Sans Pro";
  margin: auto;
  flex: none;
 }
}

@media (max-width: 699px) {
  #cursos-single {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  font-family: "Source Sans Pro";
  margin: auto;
  flex: none;
 }
}

/********  CSS DO NAVBAR  ********/

nav[data-toggle='toc'] {
  top: 42px;
}

nav[data-toggle=toc] .nav>li>a {
 color: #777777;
 font-size: 16px;
}

nav[data-toggle=toc] .nav-link.active, nav[data-toggle=toc] .nav-link.active:focus, nav[data-toggle=toc] .nav-link.active:hover {
  color: #8d66ca;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}



/********  CSS do cupom preco e etc  ********/
#intro .cupom-success {
  background-color: green;
}

#intro .cupom-failure {
  background-color: #da4d4d;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}
#valor .preco-antigo {
  position: relative;
}
#valor .preco-antigo::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: white;
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}



#vocesaira {
  color: #da4d4d
}

