<!doctype html5>
<html>
<head>
  {{ partial "head.html" . }}
</head>
  <body data-spy="scroll" data-target="#toc">
    {{ partial "header.html" . }}
    
    <div class="container" id="article-container">
      
      <header class="section-header" id="header-title">
        <h3 data-toc-skip>{{ .Title }}</h3>
      </header>
      
      <div class="row">
        
        <div class="col-sm-3">
          
          
          <nav id="toc" data-toggle="toc" class="sticky-top"></nav>  
          
          
           
          
        </div>
        
        <div class="col-sm-9" id="article">
          <p class="text-right" id="author-date">
            {{ if isset .Params "author" }} 
            Por {{ range $index, $author := .Params.author }} 
              {{ if gt $index 0 }},{{ end }} 
              {{ . }} 
              {{ end }} 
              {{ end }}
              em {{ dateFormat "02/01/2006" .Params.date }}
          </p>
          {{.Content}}
          {{ if .Site.DisqusShortname }}
            <div class="disqus-comments">
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}
        </div>  
        
      </div>
      
    </div>
    
    {{ partial "newsletter.html" . }}
    
    {{ partial "footer.html" . }}
    
  </body>
  
  {{ partial "scripts.html" .}}
  {{ partial "toc.html" . }}
  
  <script>
    
    $(function() {
        $('#toc').append('<div class="tags"><h1 data-toc-skip>Tags</h1>{{ range .Params.tags }}<a href="/tags/{{.}}"><button class="cta-submit" type="submit">{{ . | humanize}}</button></a>{{ end }}</div>');
    });
    
  </script>
  
</html>
