<!--==========================
  Contact Section
============================-->
<section id="contact" class="section-bg wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <h3>Entre em contato</h3>
      <p>Fique a vontade para nos contatar! Responderemos assim que possível!</p>
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>Endereço</h3>
          <address>Rua Gomes de Carvalho 1356, conjunto 21, São Paulo</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="ion-ios-telephone-outline"></i>
          <h3>Telefone</h3>
          <p><a href="tel:+5511975207535">+55 11 97520-7535</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>Email</h3>
          <p><a href="mailto:contato@curso-r.com">contato@curso-r.com</a></p>
        </div>
      </div>

    </div>

    <div class="form">
      <div id="sendmessage">Sua mensagem foi enviada. Obrigado!</div>
      <div id="errormessage"></div>
      <form action="" method="post" role="form" class="contactForm" netlify>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" name="email" id="email" placeholder="Seu email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
          <div class="validation"></div>
        </div>
        <div class="text-center"><button type="submit">Enviar mensagem</button></div>
      </form>
    </div>

  </div>
</section><!-- #contact -->