<section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        
                  <p style="color: #fff; font-size: 20px;">
            Tem interesse em desenvolver um projeto de ciência de dados conosco?
          </p>
          
              <a href = "/contato">
                <button id="pagamento" class="cta-btn" style="background: none;">
                  Entre em contato
                </button>
              </a>
              </div>
      
      
    </section><!-- #call-to-action -->