{{ range $i, $member := (where (where .Pages "Params.type" "!=" "completar") "Section" "cursos") }}

  {{ if modBool $i 3 }}
    <div class="row about-cols">
  {{ end }}

  <a href="{{$member.URL}}">
  <div class="col-md-4 wow fadeInUp">
    <div class="about-col">
      <div class="img">
        <img src="{{ .Site.BaseURL }}{{$member.Params.img}}" alt="" class="img-fluid">
      </div>
      <h2 class="title"><a href="{{$member.URL}}">{{.Title}}</a></h2>
      <p>
        {{.Params.desc}}
      </p>
    </div>
  </div>
  </a>
  
  {{ if (modBool (add $i 1) 3) }}
  </div>
  {{ end }}
  
  
{{ end }}