<!--==========================
  Team Section
============================-->
<section id="team">
  <div class="container">
    
    <div class="section-header wow fadeInUp">
      <h3>Equipe</h3>
      <p>Nossa equipe é formada por profissionais que trabalham com ciência de dados em diversas áreas.</p>
    </div>
    
    
    {{ range $i, $member := (where (where .Site.Pages "Section" "equipe") "Kind" "page")}}

      {{ if modBool $i 3 }}
        <div class="row">
      {{ end }}

      <div class="col-lg-4 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="{{$member.Params.foto}}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>{{.Title}}</h4>
              <span>{{$member.Params.cargo}}</span>
              <div class="social">
                <a href="{{$member.Params.twitter}}"><i class="fa fa-twitter"></i></a>
                <a href="{{$member.Params.facebook}}"><i class="fa fa-facebook"></i></a>
                <a href="{{$member.Params.github}}"><i class="fa fa-github"></i></a>
                <a href="{{$member.Params.linkedin}}"><i class="fa fa-linkedin"></i></a>
                {{ if isset $member.Params "blog"}}
                <a href="{{$member.Params.blog}}"><i class="fas fa-globe-americas"></i></a>
                {{ end }}
                {{ if isset $member.Params "pen"}}
                <a href="{{$member.Params.pen}}"><i class="fas fa-pen"></i></a>
                {{ end }}
              </div>
              <span>{{$member.Params.bio}}</span>
            </div>
          </div>
        </div>
      </div>
      
      {{ if (modBool (add $i 1) 3) }}
      </div>
      {{ end }}
      
      
    {{ end }}

  </div>
</section><!-- #team -->