<nav class="navbar navbar-expand-md navbar-dark" id="thenav">
  
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">
      <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" class="d-inline-block align-top" style="width: 100px;" alt="">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcola" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navcola" class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/material">Material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://discourse.curso-r.com">Comunidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://livro.curso-r.com/">Livro</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-1">
          <a href="{{ .Site.Params.github }}"><i id="social-media" class="fab fa-github fa-2x"></i></a>
        </li>
        <li class="nav-item mx-1">
          <a href="{{ .Site.Params.facebook }}"><i id="social-media" class="fab fa-facebook fa-2x"></i></a>
        </li>
        <li class="nav-item mx-1">
          <a href="{{ .Site.Params.twitter }}"><i id="social-media" class="fab fa-twitter fa-2x"></i></a>
        </li>
      </ul>
    </div> 
    
  </div>
  
  
</nav>




