<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>Nossa Newsletter</h3>
    <p>Uma vez por semana enviamos um e-mail para você não perder nenhum post da Curso-R. Avisamos também sempre que abrimos uma nova turma.</p>
  
    <form name="newsletter" method="POST" netlify>
      <input class="cta-email" type="email" name="email" value="Digite seu e-mail">
      <input class="cta-submit" type="submit" value="Enviar">
    </form>
    
  </div>
</section><!-- #call-to-action -->