<!--==========================
  Clients Section
============================-->
<section id="testimonials" class="section-bg wow fadeInUp">
  <div class="container">

    <header class="section-header">
      <h3>Professores</h3>
    </header>

    <div class="owl-carousel testimonials-carousel">
      
      {{ range (where (where .Site.Pages "Section" "equipe") ".Title" "in" .Params.professores) }}

      <div class="testimonial-item">
        <img src="{{.Params.foto}}" class="testimonial-img" alt="">
        <h3>{{.Title}}</h3>
        <h4>{{.Params.cargo}}</h4>
        <p>
          <img src="/img/quote-sign-left.png" class="quote-sign-left" alt="">
          {{.Params.bio}}
          <img src="/img/quote-sign-right.png" class="quote-sign-right" alt="">
        </p>
      </div>
      
      {{end}}

    </div>

  </div>
</section><!-- #testimonials -->